<div class="navbar navbar-default navbar-static-top" style="margin-bottom: 0px">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Chat Demo</a>
        </div>
    </div>
</div>
