<div class="row">
        
    <div class="user-column col-md-2">
        {{user-list users=users}}
    </div>
        
    <div class="message-column col-md-10">
        <div class="message-list-container">
            {{message-list messages=messages}}
        </div>
        <div class="message-input-container">
            {{message-input}}
        </div>
    </div>
        
</div>
