<form {{action "save" on="submit"}} class="login-form form-inline">
    <div class="form-group">
        <label>Who are you?</label>
        {{input value=userName class="form-control" placeholder="Your Name"}}
    </div>
    <button type="submit" className="btn btn-default">Log In</button>
 </form>