<div style="font-size: large; border: 1px solid #e7e7e7;">
    <div style="font-weight: bold; padding-top: 5px; padding-left: 10px;">{{message.userName}}</div>
    <div style="padding-bottom: 5px; padding-left: 10px;">{{message.text}}</div>
</div>