<div class="container-fluid" style="width: 45%; padding-top: 10px;">
    <div class="jumbotron">
        <h1>404:  OH NOES!</h1>
        <p>Are you lost?</p>
        <p>{{#link-to "index"}}Return Home{{/link-to}}</p>
    </div>
</div>